<p>
  This is the forum that I spent the last week making. It’s for my web development classes final project.
  It’s also a CTF because why not. Here's the CTF’s prompt.
</p>
<p>
  The admin is forgetful and has saved his web hosting servers password on the forum.
  He likes to think he’s pretty savvy but he slipped up somewhere and put a big hint for
  anyone who looks to closely. I’d put this one at a 2/10 for difficulty.
</p>
